{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
  <div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="nav-button">Ingresar</button>
    </form>
  </div>
{% endblock %}